<h2>Carrito: {{cid}}</h2>
<section>
    {{#if theCart.length}}
        <table id="tablaCarrito">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each theCart}}
                <tr>
                    <td>{{this.productId.title}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No hay productos en el carrito</p>
    {{/if}}
    <ul class="categorias">
        <li>
            <a href="/products">Volver a productos</a>
        </li>
        {{#if theCart.length}}
        <li>
            <a href="/api/carts/{{cid}}/purchase">Finalizar compra</a>
        </li>
        {{/if}}

    </ul>
</section>
<script src="/js/cart.js"></script>
