
    {{#if error}}
        <h1>Error</h1>
        <p>El limit debe ser mayor a 0</p>
    {{else}}
    <ul id="categorias">
        <li><a href="/products?page={{page}}&limit={{limit}}&category=Entrada">Entradas</a></li>
        <li><a href="/products?page={{page}}&limit={{limit}}&category=Principal">Platos Principales</a></li>
        <li><a href="/products?page={{page}}&limit={{limit}}&category=Postre">Postres</a></li>
        <li><a href="/products?page={{page}}&limit={{limit}}&category=Bebida">Bebidas</a></li>
        <li><a href="/products">Reset</a></li>
    </ul>
        <table >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
    {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.stock}}</td>
                    <th>{{this.code}}</th>
                </tr>
    {{/each}}
            </tbody>
        </table>
        <section>
            {{#if hasPrevPage}}
                <a class="btn-page" href="/products?page={{prevPage}}&limit={{limit}}&category={{category}}">Anterior</a>
            {{/if}}
            {{#if hasNextPage}}
                <a class="btn-page" href="/products?page={{nextPage}}&limit={{limit}}&category={{category}}">Siguiente</a>
            {{/if}}
        </section>
    {{/if}}
